<div class="lists row">
  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card class="list-card">
      <nb-card-header
        ><h1>
          <strong class="text-info"
            >Les ordres de production (
            {{ historyOrderProduction.length }} )</strong
          >
        </h1></nb-card-header
      >
      <nb-card-body>
        <nb-list>
          <nb-list-item
            class="list-item"
            *ngFor="let orderP of orderProduction"
          >
            <strong class="text-info">{{ orderP.recette.produit.name }}</strong>

            <div>
              <strong>Quantité : {{ orderP.quantity }}</strong>
            </div>
            <div>
              <strong
                >débuter :
                {{ orderP.dateLancement | date: "M/d/yy h:mm a" }}</strong
              >
            </div>
            <div>
              <button
                nbButton
                [status]="btnStartStatus"
                [shape]="btnStartShape"
                [size]="btnStartSize"
                ghost
                (click)="startOrder(orderP)"
                *ngIf="!orderP.debutProd && !orderP.prodFinish"
              >
                Débuter
              </button>
              <button
                nbButton
                [status]="btnEndStatus"
                [shape]="btnEndShape"
                [size]="btnEndSize"
                ghost
                (click)="finishOrder(orderP)"
                *ngIf="orderP.debutProd && !orderP.prodFinish"
              >
                Terminer
              </button>
            </div>
          </nb-list-item>
        </nb-list>
      
      </nb-card-body>
      <nb-card-footer>
        dsfsqdf
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card class="list-card">
      <nb-card-header
        ><h1>
          <strong class="text-info"
            >Historique des ordres (
            {{ historyOrderProduction.length }} )</strong
          >
        </h1></nb-card-header
      >
      <nb-card-body>
        <nb-list>
          <nb-list-item
            class="list-item"
            *ngFor="let orderP of historyOrderProduction"
          >
            <strong class="text-info">{{ orderP.recette.produit.name }}</strong>
            <div >
              <strong>Quantité : {{ orderP.quantity }}</strong>
            </div>
            <div>
              <strong
                >terminer :
                {{ orderP.sortieProd | date: "M/d/yy h:mm a" }}</strong
              >
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
