<div class="row">
    <!-- *ngIf="load" -->


    <nb-card class="col-md-12 col-lg-8 col-xxxl-8">
        <nb-card-body>
          <nb-stepper orientation="horizontal">
                <nb-step [label]="labelOne">
                    <ng-template #labelOne>Etape1</ng-template>
                    <h3>Etape1 Ajout Bon Commande</h3>
                    <div class="col-lg-12">
                        <nb-card>
                          <nb-card-body>
                              <form #brForm="ngForm"    novalidate>    
                                  
                                <div class="row show-grid">
                                    <div class="col-md-6 offset-md-3">
                                      <label for="ligneRecLabel" class="label" >ligne Bon commande </label>
                                      <button nbButton ghost status="danger" (click)="removeLineHandler()">
                                        <nb-icon [icon]="chevronL" pack="eva"></nb-icon>
                                      </button>
                                      <button nbButton ghost status="primary">
                                        {{ lstLign.length }}
                                      </button>
                                      <button nbButton ghost status="success" (click)="addNewLineHandler()">
                                        <nb-icon [icon]="chevronR" pack="eva"></nb-icon>
                                      </button>
                                    </div>
                                  </div>
                        
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th></th>
                                        <th>Produit</th>
                                        <th>Quantité</th>
                                      </tr>
                                    </thead>
                        
                                    <!-- <tbody>
                                      <tr *ngFor="let lignRec of  lstLign; let index = index; ">
                                       <ngx-ligne-recette [ligneRecette]="lignRec" [index]="index" ></ngx-ligne-recette>
                                      </tr>
                                    </tbody> -->
                                  </table>
                        
                                  <button nbButton nbStepperNext class="float-right">Finish</button>
                                <!-- </form> -->








                                <br/>
                                <tr>
                                  <td>
                                <nb-select  class="form-group" placeholder="Selectionnez un Produit" name="prd" [(selected)]="prd" >
                                    <nb-option  *ngFor="let pr of prods "   [value]="pr"> {{pr.name}} </nb-option>
                                </nb-select></td>
                                
                                <br/><td>
                                      
                                      <input type="number" name="quantity" nbInput fullWidth placeholder="Quantité" [(ngModel)]="lc.quantity" required></td></tr>
                                      <td><button nbbutton status='success' size='medium' (click)="sendLigne(lc.quantity)">ok</button></td>
                                   </form>    
                                 
                         </nb-card-body>
                       
                        </nb-card>
                      </div>
                      <ngx-lst-ligne-bc *ngIf=affiListLg [lstLigBC]="lstLigBC"
                                                        (removeLigneBonRecept)="receivedEditedLigneBonCom($event)"></ngx-lst-ligne-bc>
                    <button nbButton nbStepperNext  #buttonstate [disabled]="!brForm.valid" status="primary" class="edit" (click)="onSubmit()" >valider</button>



       <!-- ********************************************************************************************************************************** -->
                </nb-step>
                    <nb-step [label]="labelTwo">
                        <ng-template #labelTwo>Etape2</ng-template>
                        <h3>Etape2 </h3>
                       
                      <div class="col-lg-12">
                           <nb-card>                                 
                                 <nb-card-body>                                   
                                        <form #brForm="ngForm"    novalidate>                                                              
                                                <label for="dateSouhaite"><span >*</span> Date Souhaité: </label>
                                                <input type="date" name="dateSouhaite" nbInput fullWidth placeholder="Date Souhaité" [(ngModel)]="bc.dateSouhaite" required>  
                                                    <span >*</span>
                                                    <input type="number" name="avance" nbInput fullWidth placeholder="Avance" [(ngModel)]="bc.Avance" required>                                                
                                                    
                                                    <span >*</span>
                                                <input type="text" name="InfoSup" nbInput fullWidth placeholder="Information supplemenetaire" [(ngModel)]="bc.infoSupp">  
                                             </form>  
                                 </nb-card-body>
                            </nb-card>
                         </div>

                            <!-- <button nbButton nbStepperNext (click)="backClick()">valider</button> -->
                    </nb-step>
          </nb-stepper>
        </nb-card-body>
    </nb-card>
 
</div>